body {
    width: 320px;
}

header {
    width: 320px;
    height: 88px;
    background-color: white;
    border-bottom: 2px solid #D9FFF5;
}

.cps {
    margin-top: 20px;
}

.cps__row {
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.line {
    padding-left: 30px;
    position: relative;
    display: flex;
    align-items:center
}

.line::before {
    content: " ";
    background: #7272722f;
    width: 2px;
    height: 30px;
    left: 10px;
    position: absolute;
}

main {
    background: rgb(248, 248, 248);
    height: 509px;
    
}

.container {
    display: flex;
    align-items:center;
    
}

.container > h1 {
    margin: 21px 16px 24px;
    font-family:'TT Lakes';
}

.container-slideMenu {
    display: flex; 
    margin-left: 16px;
    height: 40px;
    width: 504px;
    font-family:'TT Lakes';
}

.button { 
    
    color: rgb(126, 126, 130);
    height: 40px;
    display: flex;
    align-items: center
    
}

.button-1 {
    border: 1px solid rgb(0, 225, 254);
    border-radius: 5px;
    padding: 5px 10px;
}

.text {
    margin: 0 auto;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 1px;
    font-family:'TT Lakes';
}

.wrapper {
    display:  flex;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family:'TT Lakes';
    color: rgb(27, 28, 33)
    
}

.text{
    font-size: 13px;
}

.span {
    padding-left: 8px;
    font-weight: bold;
    font-family:'TT Lakes';
    font-size: 16px;
}

.logo {
    height: 176px;
    width: 320px;
}
